.content {
  width: 1085px;
  max-width: calc(100% - 50px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  border-radius: 24.5px;
  background: #171100;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sen";
}
.logo {
  color: #171100;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
}
.menu {
  margin-left: 512px;
  display: flex;
  gap: 23px;
}
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu .items {
  text-align: center;
  position: relative;
  color: #5f5b53;
  font-family: "Fz Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.menu .items::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #171100;
  transition: width 0.3s ease;
}
.menu .items:hover {
  cursor: pointer;
  color: #171100;
}
.menu .items:hover::after {
  width: 50%;
}
.head .btn {
  margin-left: auto;
  text-align: center;
  display: inline-block;
  min-width: 144px;
  height: 50px;
}
.dangki {
  color: #fff;
  text-align: center;
  font-family: "Fz Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
@media (max-width: 1090px) {
  .head {
    justify-content: space-around;
  }
  .menu {
    margin-left: auto;
  }
}
